@charset "utf-8";
/* CSS Document */
body {
	background-color: #F7F7F7;
}
.header {
	width: 100%;
	height: 70px;
	margin: 0 auto 10px; /*上；左、右；下*/
	overflow: hidden;
}
.logo {
	width: 20%;
	float: left;
	height: auto;
}
.nav {
	width: 60%;
	float: left;
	height: auto;
	list-style: none;
	display: block;
}
.nav ul {
	list-style: none;
	
}
.nav li {
	float: left;
	padding: 0 20px;
	text-decoration: none;
}
.user {
	width: 20%;
}
.item {
	float: left;
    width: 840px;
	height: 240px;
    overflow: hidden;
	background-color: #FFFFFF;
	position: absolute;
}

.items {
	width: 840px;
	height: 3150px;
	float: left;
}

.main {
	width: 1200px;
	margin: 0 auto;
}

.item-pic {
	overflow: hidden;
    width: 240px;
	height: 160px;
    display: block;
    float: left;
    margin: 20px;
    border-radius: 5px;
}

.item-title {
	overflow: hidden;
    width: 60%;
    display: block;
    float: left;
    margin: 20px;
    border-radius: 5px;
	font-weight: bold;
	font-size: 1.17em;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.item-title a{
	text-decoration: none;
	color: #555555;
}
.item-info {
	width: 530px;
	height: 105px;
	float: left;
	color: #888;
}
.item-foot {
	width: 800px;
    overflow: hidden;
    clear: both;
    margin: 0px 20px 20px 20px;
    display: inline-block;
    color: #838383;
    font-size: 12px;
}
.lable {
	background: url(./img/icon-01.png) no-repeat left center;
	margin-right: 10px;
	width: 87px;
	height: 16px;
}
.lable a {
	text-decoration: none;
	color: #096;
}
.time {
	background: url(./img/icon-02.png) no-repeat left center;
	margin-right: 10px;
}
.viewnum {
	background: url(./img/icon-02.png) no-repeat left center;
}
.viewnum a {
	text-decoration: none;
	color: #096;
}
.readmore {
	float: right;
}
.readmore a{
	text-decoration: none;
	color: #096;
}