@charset "utf-8";
/* CSS Document */
body {
	background-color: #F7F7F7;
}
* {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	height: 70px;
	margin: 0 auto 20px; /*上；左、右；下*/
	overflow: hidden;
	background-color: #FFF;
}
.logo {
	width: 20%;
	float: left;
	height: auto;
	margin-top: 20px;
	margin-left: 50px;
}
.logo a{
	font-size: 24px;
	text-decoration: none;
	color: black;
	font-weight: 1000;
}
.nav {
	width: 60%;
	float: left;
	height: auto;
	list-style: none;
	display: block;
	margin-top: 25px;
}
.nav a{
	text-decoration: none;
	color: #000;
}
.nav ul {
	list-style: none;
	
}
.nav li {
	float: left;
	padding: 0 20px;
	text-decoration: none;
}
.user {
	margin-top: 25px;
	width: 15%;
	float: right;
	color: cadetblue;
}
.item {
	float: left;
    width: 840px;
	height: 240px;
    overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	display: block;
	list-style: none;
}

.items {
	width: 840px;
	height: 2500px;
	float: left;
}

.main {
	width: 1200px;
	margin: 0 auto;
}

.item-pic {
	overflow: hidden;
    width: 240px;
	height: 160px;
    display: block;
    float: left;
    margin: 20px;
    border-radius: 5px;
}

.item-title {
	overflow: hidden;
    width: 60%;
    display: block;
    float: left;
    margin: 20px;
    border-radius: 5px;
	font-weight: bold;
	font-size: 1.17em;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.item-title a{
	text-decoration: none;
	color: #555555;
}
.item-info {
	width: 530px;
	height: 105px;
	float: left;
	color: #888;
}
.item-foot {
	width: 800px;
    overflow: hidden;
    clear: both;
    margin: 0px 20px 20px 20px;
    display: inline-block;
    color: #838383;
    font-size: 12px;
}
.lable {
	background: url(./img/icon-01.png) no-repeat left center;
	margin-right: 10px;
	width: 87px;
	height: 16px;
}
.lable a {
	text-decoration: none;
	color: #096;
}
.time {
	background: url(./img/icon-02.png) no-repeat left center;
	margin-right: 10px;
}
.viewnum {
	background: url(./img/icon-02.png) no-repeat left center;
}
.viewnum a {
	text-decoration: none;
	color: #096;
}
.readmore {
	float: right;
}
.readmore a{
	text-decoration: none;
	color: #096;
}
header {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.sidebar {
	float: right;
    width: 336px;
	height: 2500px;
    overflow: hidden;
    position: relative;
	margin-right: 160px;
}

.about {
	height: 400px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.search {
	height: 70px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.classify {
	height: 250px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.rank {
	height: 600px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.recommend {
	height: 600px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.link {
	height: 115px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.promote {
	height: 334px;
	background-color: #FFF;
}

.foot {
	width: 100%;
    background: #333;
    color: #a5a4a4;
    text-align: center;
    padding: 20px 0;
	margin-top: 20px;
	bottom: 0px;
	height: 20px;
}
